{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Your Profile</title>
    <link rel="stylesheet" href="{% static 'accounts/profile.css' %}">

</head>

<body>
    <!-- <h2>Welcome, {{ request.user.username }}</h2> -->

    {% if profile.profile_pic %}
    <img src="{{ profile.profile_pic.url }}" alt="Profile Picture" width="150">
    {% else %}
    <p>No profile picture.</p>
    {% endif %}

    <p>Bio: {{ profile.bio }}</p>

    <a href="{% url 'edit_profile' %}">Edit Profile</a>

    <a href="{% url 'logout' %}">Logout</a>
</body>

</html>







<!-- <h2>{{ user.username }}'s Profile</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Update</button>
</form>
<img src="{{ profile.profile_pic.url }}" width="100" height="100">
<p>{{ profile.bio }}</p>
<a href="{% url 'logout' %}">Logout</a> -->